nav:
  - Overview:
    - index.md
    - au CLI Installation: install.md
  - Classroom Workflows:
    - workflows/index.md
    - Common Workflows: workflows/common.md
    - Python Grading Workflows: workflows/python.md
    - SQL Grading Workflows: workflows/sql.md
  - Best Practices:
    - best-practices/index.md
    - Working with Codespaces: best-practices/codespaces.md
    - Python Assignments: best-practices/python.md
    - MySQL/MariaDB Assignments: best-practices/sql.md
  - References: 
    - references/index.md
    - au Command Line Interface:
      - au assignment: references/cli/assignment.md
      - au repo: references/cli/repo.md
      - au python: references/cli/python.md
      - au sql: references/cli/sql.md
  - Tips & Tricks:
    - tips/index.md

site_name: au - GitHub Classroom Automation Tools
site_url: https://ptyork.github.io/au/
repo_url: https://github.com/ptyork/au/
watch:
  - src
  - docs

# extra_css:
#   - _assets/extra.css

markdown_extensions: 
  - attr_list
  - mkdocs-click
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

plugins: 
  - search

theme:
  name: material
  # logo: _images/logo.svg
  favicon: _images/favicon.svg
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.tracking
    - toc.integrate
    - toc.follow
    - content.code.copy
    - content.code.annotate

  palette:
  
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      primary: indigo
      accent: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: white
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
